form {
    display: flex;
    flex-direction: column;
}

form > * {
    margin: 8px auto;
}

form .input-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

form input {
    margin: 4px 4px;
}

button {
    width: 120px;
}

button:hover {
    background-color: red;
}

span.username {
    font-weight: bold;
}

.duel-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.stats {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.stats .stat {
    display: flex;
    flex-direction: row;
}

.stats .stat > * {
    display: flex;
    width: 50%;
}

.stat .label {
    justify-content: flex-start;
    white-space: nowrap;
}

.stat .value {
    justify-content: flex-end;
    white-space: nowrap;
}

.duel-winner {
    color: green;
}

.duel-loser {
    color : red;
}

.winner-container {
    position: relative;
    height: 0px;
    width: 0px;
}

.winner-text {
    position: absolute;
    top: -3em;
    right: -1.5em;
    font-size: 22pt;
    color: green;
}

.tie-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    border: 0;
}

.tie-text {
    font-size: 22pt;
}